<input type="file" #file style="display: none" (change)="onFilesAdded()" />
<div class="container" fxLayout="column" fxLayoutAlign="space-evenly stretch">
  <h1 mat-dialog-title>Import File Elements</h1>
  <div>
    <button [disabled]="uploading || uploadSuccessful" mat-raised-button color="primary" class="add-files-btn"
      (click)="addFiles()">
      Add Files
    </button>
  </div>

  <mat-dialog-content fxFlex>
    <mat-list>
      <mat-list-item *ngFor="let file of files">
        <h4 mat-line>{{file.name}}</h4>
        <button *ngIf="!progress" mat-raised-button color="warn" (click)="deleteFile(file)">Cancel</button>
        <mat-progress-bar *ngIf="progress" mode="determinate" [value]="progress[file.name].progress | async" [color]="progress[file.name].color| async">
        </mat-progress-bar>
      </mat-list-item>
    </mat-list>
  </mat-dialog-content>

  <mat-dialog-actions class="actions">
    <button *ngIf="showCancelButton" mat-raised-button mat-dialog-close>Cancel</button>
    <button mat-raised-button color="primary" [disabled]="!canBeClosed" (click)="closeDialog()">
      {{primaryButtonText}}
    </button>
  </mat-dialog-actions>
</div>